.card-container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding-top: 10px;

}

.card-info {
    text-align: left;
    padding-left: 15px;
}

.card-info p {
    color: gray;
}

.card-info strong {
    color: rgb(54, 54, 54);
}

.card-container img {

    width: 240px;
    border-radius: 10px;
    height: 150px;
}

.btn-add-to-list {
    background-color: blueviolet;
    padding: 7px 80px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px
}